<div class="grid mt-1">
  <div class="col-12 md:col-1 mt-3">
  </div>
  <div class="col-12 md:col-10">
    <p-card>
      <p class="text-center text-4xl">Información de la Aplicación</p>
      <div class="text-justify">
        <p class="text-2xl ">
          "Helping Hand" (La Mano Amiga) es una aplicación revolucionaria diseñada para ayudar a los niños que sufren de
          acoso escolar. Esta plataforma innovadora permite a los niños solicitar ayuda de otros niños o adultos que se
          encuentren cerca de ellos, brindando apoyo y protección cuando más lo necesitan.
        </p>

        <p class="text-2xl ">
          El funcionamiento de la aplicación es sencillo pero efectivo: cuando un niño que sufre acoso escolar necesita
          ayuda, puede activar el botón de emergencia en su teléfono o usar un comando de voz específico como "Pedir
          ayuda". La aplicación se encarga de enviar una alerta a los usuarios cercanos que estén dispuestos a ayudar,
          proporcionándoles información relevante como la foto, nombre y ubicación del niño acosado, así como su
          cercanía
          geográfica. Los usuarios tienen la opción de responder rápidamente y acudir en ayuda del niño que lo necesita,
          convirtiéndose en auténticos héroes contra el acoso, los Bully Busters (cazadores de matones).
        </p>

        <p class="text-2xl">
          Además de la función de ayuda inmediata, "Helping Hand" también ofrece recursos y herramientas para ayudar a
          los
          niños a enfrentar y superar el acoso escolar. La aplicación proporciona consejos prácticos sobre cómo manejar
          situaciones de acoso, información sobre los recursos de apoyo disponibles y la posibilidad de conectarse con
          profesionales capacitados en casos más graves.
        </p>

        <p class="text-2xl">
          Cabe destacar que "Helping Hand" ha sido diseñada teniendo en cuenta la seguridad de los usuarios y la
          confidencialidad de la información. Se implementarán rigurosas medidas de seguridad para garantizar que los
          usuarios sean confiables y que los niños estén protegidos al utilizar la aplicación.
        </p>

        <p class="text-2xl">
          Imagina ser un padre, madre, hermano, amigo o simplemente alguien que aborrece el acoso escolar. Instalar
          "Helping Hand" sería una decisión sin dudarlo. Esta aplicación ofrece una forma efectiva y poderosa de
          combatir
          el acoso escolar, fomentando la participación activa de la comunidad y brindando apoyo solidario a aquellos
          que
          más lo necesitan.
          Únete a esta iniciativa transformadora y conviértete en un defensor contra el acoso escolar. "Helping Hand"
          está
          aquí para marcar la diferencia y crear un entorno seguro y amigable para todos los niños. ¡Juntos podemos
          poner
          fin al acoso escolar y construir un futuro mejor para las generaciones venideras!
        </p>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-1 mt-3">
  </div>
</div>
