<p-card
  header="BULLYBUSTERS"
  subheader="Cazadores de Matones"
  [style]="{ width: '500px' }"
  class="text-center sm:shadow-3 mt-3"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/img/heroes.png"/>
  </ng-template>
  <p>
    ¡Descubre el increíble mundo de los BullyBusters!
    ¿Sabes qué son? Son valientes cazadores de matones, como tú, que protegen a otros compañeros
    y hacen de nuestra comunidad un lugar más seguro y amigable. ¡APÚNTATE!
  </p>
  <ng-template pTemplate="footer">
    <p-button
      label="Ranking"
      icon="pi pi-chart-line"
      (click)="obtenerArrayDeUsuarios()"
    >
    </p-button>
    <p-button
      label="Puntuar"
      icon="pi pi-gift"
      styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"
    >
    </p-button>
  </ng-template>
</p-card>

<p-table [value]="usuarios" >
  <ng-template pTemplate="header">
    <tr>
      <th>Foto</th>
      <th>Nombre Completo</th>
      <th>Correo</th>
      <th>Edad</th>
      <th>Curso</th>
      <th>Puntuacion</th>
      <th>Sumar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>img</td>
      <td>{{usuario.nombre + " "+ usuario.apellido1 + " " + usuario.apellido2}}</td>
      <td>{{usuario.email}}</td>
      <td>{{calcularEdad(usuario.edad)}}</td><!-- Pongo edad en vez de fecha de nacimiento para que no me destroce
       la tabla, porque lo recibo como string de la base de datos y no puedo operar con ella-->
      <td>{{usuario.curso}}</td>
      <td>puntuacion</td>
      <td>
        <button pButton label="Sumar 3 Puntos" ></button>
      </td>

    </tr>
  </ng-template>
</p-table>


