.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.botones-separados {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Ajusta el espacio entre los botones  */
}

