<p-dialog
  [visible]="dialogVisible"
  [modal]="true"
  [closable]="false"> <!-- ponemos 'closable' en false para eliminar la 'x' -->
  <div class="grid">
    <div class="col-4 col-offset-4 my-8">
      <p-card>
        <ng-template pTemplate="header">
          <img src="assets/img/21.png" alt="Titulo: Helping Hand">
        </ng-template>
        <h2 class="col-12 fuente-escrita-a-mano">
          {{ frase }}
        </h2>
        <ng-template pTemplate="footer">
          <div>
            <p-button label="Crear cuenta" styleClass="p-button-success" [routerLink]="['/auth/signUp']"></p-button>
            <p-button label="Cerrar" (click)="cerrarDialogo()"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</p-dialog>
