<p-dialog
  [visible]="true"
  [closable]="false"
  [modal]="true">
  <div class="grid">
    <div class="col-4 col-offset-4 my-8">
      <p-card>
        <ng-template pTemplate="header">
          <img src="assets/img/21.png" alt="Titulo: Helping Hand">
        </ng-template>
        <h2 class="col-12 fuente-escrita-a-mano">
          {{ frase }}
        </h2>
        <ng-template pTemplate="footer">
          <p-button label="Iniciar Sesión" [routerLink]="['/auth/login']"></p-button>
          <p-button label="Crear cuenta" styleClass="p-button-success" [style]="{ 'margin-left': '.5em' }" [routerLink]="['/auth/signUp']"></p-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</p-dialog>
