<footer>
<div class="container">
  <div class="row">
    <div class="column">
      <h2>About</h2>
      <p>Contenido de la columna 1, fila 1</p>
    </div>
    <div class="column">
      <h2>Categories</h2>
      <p>Contenido de la columna 2, fila 1</p>
    </div>
    <div class="column">
      <h2>Quick Links</h2>
      <p>Contenido de la columna 2, fila 2</p>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="row">
    <div class="column">



      <span>&copy; The helping hand "2023" All Rights Reserved </span>
    </div>
    <div class="column">
      <span>{{date | date: 'dd/MM/YYYY HH:mm' }}</span>
    </div>
    <div class="column">
      <a href="#"> <i class="pi pi-twitter px-3" style="font-size: 2.5rem"></i> </a>
      <a href="#"> <i class="pi pi-youtube px-3" style="font-size: 2.5rem"></i></a>
      <a href="#"> <i class="pi pi-instagram px-3" style="font-size: 2.5rem"></i></a>
      <a href="#"> <i class="pi pi-facebook px-3" style="font-size: 2.5rem"></i></a>

    </div>

  </div>
</div>

</footer>
