<div class="text-center"><h2>Aquí puedes elegir los temas de tu aplicación</h2></div>
<div class="flex align-items-center justify-content-center mb-4">
  <a (click)="changeTheme('saga-blue')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/saga-blue.png" width="50" alt="">
  </a>
  <a (click)="changeTheme('vela-blue')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/vela-blue.png" width="50" alt="">
  </a>
  <a (click)="changeTheme('arya-blue')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/arya-blue.png" width="50" alt="">
  </a>
  <a (click)="changeTheme('md-light-indigo')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/md-light-indigo.svg" width="50" alt="">
  </a>
  <a (click)="changeTheme('md-dark-indigo')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/md-dark-indigo.svg" width="50" alt="">
  </a>
  <a (click)="changeTheme('bootstrap4-light-purple')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/bootstrap4-light-purple.svg" width="50" alt="">
  </a>
  <a (click)="changeTheme('bootstrap4-dark-purple')" class="mr-3 cursor-pointer">
    <img src="assets/img/theme/bootstrap4-dark-purple.svg" width="50" alt="">
  </a>
  <a (click)="changeTheme('style-helping-hand')" class="mr-3 cursor-pointer">
    <img src="assets/img/logomano.png" alt="Logo de manos" width="15%">
  </a>
</div>
