<p-dialog
  [(visible)]="dialogVisible"
  [modal]="true"
  [closable]="false"> <!-- ponemos 'closable' en false para eliminar la 'x' -->
  <div class="grid">
    <div class="col-4 col-offset-4 my-8">
      <p-card>
        <ng-template pTemplate="header">
          <img src="assets/img/21.png" alt="Titulo: Helping Hand">
        </ng-template>
        <h2 class="col-12 fuente-escrita-a-mano">
          {{ frase }}
        </h2>
        <ng-template pTemplate="footer">
          <div class="botones-separados">
            <p-button label="Crear cuenta" styleClass="p-button-success" [routerLink]="['/auth/signUp']"></p-button>
            <p-button label="Cerrar" (click)="cerrarDialogo()"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</p-dialog>
<div class="grid">
  <div class="col-6">
    <div class="texto-advertencia">
      <p>¡¡¡ Este botón no es un juego, usar en caso de emergencia !!!</p>
    </div>
    <div class="grid" *ngIf="!dialogVisible">
      <div class="col-6 col-offset-3 my-8">
        <p-card>
          <ng-template pTemplate="header">
            <p-button (click)="this.obtenerUsuariosCercanos();">
              <img src="assets/img/sos.png" alt="Titulo: Helping Hand">
            </p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="grid" *ngIf="usuariosCercanos.length > 0">
      <div class="col-6 col-offset-3 my-8">

        <p-table [value]="usuariosCercanos"
                 [paginator]="true"
                 [rows]="6"
                 [rowsPerPageOptions]="[6, 12, 18, 24]"
                 styleClass="p-datatable-gridlines">
          <ng-template class="text-center" pTemplate="caption">Usuarios dentro del rango de ayuda</ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Foto</th>
              <th>Nombre y apellidos</th>
              <th>En camino</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario>
            <tr>
              <td>
                <img class="tamano-img" [src]="usuario.foto" alt="">
              </td>
              <td>{{ usuario.nombre }} {{usuario.apellido1}} {{usuario.apellido2}}</td>
              <td>{{usuario.logueado? '✅' : '❌'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>



