<p-dialog
  [visible]="true"
  [closable]="false"
  [modal]="true"
  [maximizable]="true"
  header="Accede con tu cuenta"
  style="width: 400px; height: 500px;"
>
  <div class="surface-ground flex align-items-center justify-content-center overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(45deg, #E8B761, #DB993D, #CE7B19);">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
          <div class="text-center mb-5">
            <img src="assets/img/img-fondo-login.jpg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Registrate</div>
            <span class="text-600 font-medium">Sign up to continue</span>
          </div>
          <form [formGroup]="usuarioForm" (ngSubmit)="submitForm()" class="custom-form-grid">
            <div class="form-column">
              <label for="idTipo"  class="block text-900 text-xl font-medium mb-2">ID Tipo:</label>
              <input id="idTipo" type="number" pInputText formControlName="idTipo" />

              <label for="email"  class="block text-900 text-xl font-medium mb-2">Email:</label>
              <input id="email" type="email" pInputText formControlName="email" />

              <label  class="block text-900 text-xl font-medium mb-2">Foto:</label>
              <p-fileUpload
                name="photo"
                url="/upload"
                accept="image/*"
                (onUpload)="handleFileUpload($event)"
              >
              </p-fileUpload>

              <label for="pass"  class="block text-900 text-xl font-medium mb-2">Contraseña:</label>
              <input id="pass" type="password" pInputText formControlName="pass" />

              <label for="fechaNacimiento"  class="block text-900 text-xl font-medium mb-2">Fecha de Nacimiento:</label>
              <p-calendar id="fechaNacimiento" formControlName="fechaNacimiento"></p-calendar>

              <label for="usuarioDesde"  class="block text-900 text-xl font-medium mb-2">Usuario Desde:</label>
              <p-calendar id="usuarioDesde" formControlName="usuarioDesde"></p-calendar>

              <label for="token"  class="block text-900 text-xl font-medium mb-2">Token:</label>
              <input id="token" type="text" pInputText formControlName="token" />

              <label for="sexo"  class="block text-900 text-xl font-medium mb-2">Sexo:</label>
              <input id="sexo" type="text" pInputText formControlName="sexo" />
            </div>

            <div class="form-column"  class="block text-900 text-xl font-medium mb-2">
              <label for="nombre"  class="block text-900 text-xl font-medium mb-2">Nombre:</label>
              <input id="nombre" type="text" pInputText formControlName="nombre" />

              <label for="apellido1"  class="block text-900 text-xl font-medium mb-2">Apellido 1:</label>
              <input id="apellido1" type="text" pInputText formControlName="apellido1" />

              <label for="apellido2"  class="block text-900 text-xl font-medium mb-2">Apellido 2:</label>
              <input id="apellido2" type="text" pInputText formControlName="apellido2" />

              <label for="curso"  class="block text-900 text-xl font-medium mb-2">Curso:</label>
              <input id="curso" type="text" pInputText formControlName="curso" />

              <label for="direccion"  class="block text-900 text-xl font-medium mb-2">Dirección:</label>
              <input id="direccion" type="text" pInputText formControlName="direccion" />

              <label for="ciudad"  class="block text-900 text-xl font-medium mb-2">Ciudad:</label>
              <input id="ciudad" type="text" pInputText formControlName="ciudad" />

              <label for="codigoPostal"  class="block text-900 text-xl font-medium mb-2">Código Postal:</label>
              <input id="codigoPostal" type="number" pInputText formControlName="codigoPostal" />

              <label for="pais"  class="block text-900 text-xl font-medium mb-2">País:</label>
              <input id="pais" type="text" pInputText formControlName="pais" />

              <label for="telefono"  class="block text-900 text-xl font-medium mb-2">Teléfono:</label>
              <input id="telefono" type="text" pInputText formControlName="telefono" />

              <label for="logueado"  class="block text-900 text-xl font-medium mb-2">Logueado:</label>
              <input id="logueado" type="text" pInputText formControlName="logueado" />
            </div>

            <div class="">
              <button type="submit" pButton label="Guardar" [disabled]="!usuarioForm.valid"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
